@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.form-container, .container{
    display: flex; 
    justify-content: center; 
    margin-top: 3rem
}

.container {
    flex-direction: column;
    align-items: center;
}

.project-titles-ul, ul {
    list-style: none;
    margin-top: 3rem;
    max-width: 800px;
    width: 80%;
}

.project-titles-ul li, li {
    border: 1px solid black;
    margin-bottom: 1rem;
    padding: 12px;
    border-radius: 7px;
    box-shadow: 2px 2px 13px -2px rgba(0,0,0,0.42) ;
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgb(255,255,255) 0%, rgb(0,255,230) 26%, rgb(0,203,202) 100%);
    transition: all 300ms;
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    gap: 16px;
}

.task-ul .task-li {
    background: white;
}

.task-ul .task-li:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.project-titles-ul li span {
    overflow: hidden;
}

.project-titles-ul li:hover {
    transform: scale(1.06);
    cursor: pointer;
}

.header {
    font-size: xx-large;
    align-self: flex-start;
    margin-left: 2rem;
    border-bottom: 2px solid black;
    width: calc(100% - 4rem);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.date {
    font-size: large;
}

.forms {
    display: flex; 
    flex-direction: column; 
    background-color: white; 
    gap: 1.2rem; 
    flex-basis: 800px; 
    flex-grow: 0; 
    max-width: 80%
}

.fields {
    display: flex; 
    flex-direction: column; 
    gap: 12px
}

.btn {
    width: max-content;
    align-self: center;
    padding: 10px 8px;
    background-color: rgb(87, 87, 255);
    border-radius: 3px;
    border: none;
    font-weight: bold;
    font-size: medium;
    color: white;
}

.form-btn {
    /* background-color: rgb(0, 255, 0); */
    color: white;
    box-shadow: 8px 10px 25px 0px rgba(0,0,0,0.37);
}

.btn-project-create {
    padding: 20px;
    font-size: larger;
    background-color: green;
    box-shadow: 6px 9px 19px 0px rgba(0,0,0,0.32);
    transition: all 200ms;
}

.btn:hover {
    background-color: rgb(67, 67, 255);
    cursor: pointer;
}

.btn-project-create:hover {
    background-color: rgb(0, 114, 0);
}

.hidden {
    visibility: hidden;
    position: absolute;
}

input {
    height: 2.3rem;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.204);
}

input:focus {
    outline: 2px solid blue;
}

.modal {
    width: 500px;
    height: 500px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    top: 20%;
    left: calc(50% - 250px);
    border-radius: 15px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: max-content 1fr max-content;
}

.close-modal {
    width: 2rem;
    border-radius: 15px;
}

.back {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.34);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.task-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.task-main {
    padding: 0 15px;
    border-bottom: 1px solid black;
    margin-bottom: 12px;
}

.task-main p {
    font-style: italic;
}

.task-main .description-task {
    font-size: larger;
    font-style: normal;
}

.complete-btn {
    background-color: rgb(0, 219, 0);
}

.complete-btn:hover {
    background-color: rgb(0, 195, 0);
}

.close-modal {
    background-color: red;
}

.close-modal:hover {
    background-color: rgb(206, 0, 0);
}

.task-btn {
    margin-bottom: 12px;
}

.back-btn {
    background-color: grey;
}

.back-btn:hover {
    background-color: rgb(111, 111, 111);
}

.task-ul .completed {
    background: #8BFF8B;
    background: -moz-linear-gradient(top, #8BFF8B 0%, #F3FFF1 100%);
    background: -webkit-linear-gradient(top, #8BFF8B 0%, #F3FFF1 100%);
    background: linear-gradient(to bottom, #8BFF8B 0%, #F3FFF1 100%);
}

.task-form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 5px;
}

.task-form:first-child {
    margin-top: 0.5rem;
}

.task-form:last-child {
    margin-bottom: 0.6rem;
}

.task-modal {
    height: auto;
}

.task-modal .btn {
    justify-self: flex-end;
}

/* .delete-proj {
    background-color: red;
    height: 100%;
} */